html, body *{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
/* Estilos para o menu de navegação*/
header{
    background: #DCDCDC;
    height: 50px;
}
.container{
    width: 100%;
    /* max-width: 1000px; */
    margin: 0 auto;
}

.main-header{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo{
    align-items: start;
    display: flex;
    width: 300px;
    height: 40px;
    text-decoration: none;
    color: #FAFAD2;

}
 
 .logo h1 span{
     color: #00BFFF;
     font-weight: 400;
 }

ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    width: 300px;
    height: 40px;
    overflow: hidden;
    background-color: #DCDCDC;
}

li {
    float: left;
    font-size: 1.2rem;
    list-style-type: none;
    margin: 0 0 0 20px;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    margin: -4px;
    padding: 5px;
    text-decoration: none;
}

li a:hover, .active {
    background-color: #ccc;
}
#content-header{
    margin-top: 20px;
}
/* Estilos para a galeria de imagens */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    width: 275px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Estilo para as imagens dentro da galeria */
div.gallery img.img {
    width: 230px;
    height: 270px;
    object-fit: cover; /* Mantém a proporção sem cortar a imagem */
}